*{
  font-family: 'Raleway', sans-serif;
  /* border: 1px solid black; */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
border: 1px solid gray;
border-radius: 20px;
padding: 10px;
margin: 10px;
padding-left: 15px;
padding-right: 15px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

button:hover{
  background-color:#2EE59D;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px  ;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spacing{
  margin: 10px;
  padding: 10px;
  font-size: 15px;
}

.input-border{
  border: none;
  border-bottom: 1px solid rgb(80, 202, 80);
}

.font-green{
  color:rgb(80, 202, 80);
  
}

.nav-btn{
  border-radius: 60%;
}

.logo{
  margin-top: 20px;
  margin-bottom: 10px;
  height: 50px;
}

.user-display{
  margin-top: 10px;
}

.bigger{
  width: 200px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color:rgb(80, 202, 80);
}